<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
    <link href="/stylesheets/category.css" rel="stylesheet" type="text/css" />
    <title>JavaScript Toolkit - <%= title %></title>
  </head>

  <body>
    <% include partials/header %>
    <main>
      <section>
        <h1><%= title %></h1>
        <p><%= description %></p>
      </section>

      <% tools.forEach(function (tool) { %>
          <section>
            <a id="<%=: tool.title | id %>"></a>
            <header>
              <h2><%= tool.title %></h2>
              <p><%= tool.description %></p>
            </header>

            <section>
              <h3>Links</h3>
              <ul>
                <% tool.links.forEach(function(link) { %>
                <li>
                <label><%= link.name %></label>
                <a href="<%= link.href %>" target="_blank"><%= link.href %></a>
                </li>
                <% }); %>
              </ul>
            </section>
            <% if(tool.examples && tool.examples.length) { %>
              <section>
                <h3>Examples</h3>
                <% tool.examples.forEach(function(example) { %>
                <code><%= example %></code>
                <% }); %>
              </section>
            <% } %>
        </section>
      <% }); %>
    </main>

    <% include partials/footer %>
  </body>
</html>
