<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
    <link href="/stylesheets/category.css" rel="stylesheet" type="text/css" />
    <title>Javascript Toolkit - <%= title %></title>
  </head>

  <body>
    <% include partials/header %>
    <main>
      <section>
        <h1><%= title %></h1>
        <p><%= description %></p>
      </section>

      <% tools.forEach(function (tool) { %>
        <section>
          <h2><a href="<%= tool.title.toLowerCase().replace(/\s/g, '-') %>.html"><%= tool.title %></a></h2>
          <p><%= tool.description %></p>
        </section>
      <% }); %>
    </main>

    <% include partials/footer %>
  </body>
</html>
